src/main/mule/cicd-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a56494ac-dcf0-4a65-868b-608b6882a74b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-deploymentFlow" doc:id="ba6e0905-a14e-494a-aa33-ee6008a54fd8" >
		<http:listener doc:name="Listener" doc:id="b15693bf-16d9-4716-a90a-9ed6c07cd530" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="243ade64-1911-43df-a980-2e0f2bf25449" message="flow initiated"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="82713f8d-177c-47cb-a877-b651204352b9" />
	</flow>
</mule>
